<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Coding Standard for PHPUnit Polyfills" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>Check the code of PHPUnit Polyfills.</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/PHPCSStandards/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<file>.</file>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Cache the results between runs. -->
	<arg name="cache" value="./.cache/phpcs.cache"/>


	<!--
	#############################################################################
	USE THE YoastCS RULESET
	#############################################################################
	-->

	<rule ref="Yoast">
		<!-- Duplicate classes is by design and part of the cross-version compatibility mechanism. -->
		<exclude name="Generic.Classes.DuplicateClassName"/>

		<!-- Exclude some rules which conflicts with the naming conventions used in PHPUnit. -->
		<exclude name="Yoast.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>

		<!-- Exclude some rules which are irrelevant.
			 The code in this package is not run in the context of a WordPress plugin. -->
		<exclude name="WordPress.DB"/>
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_var_export"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.system_calls_popen"/>
		<exclude name="WordPress.Security"/>
		<exclude name="WordPress.WP"/>
		<exclude name="Yoast.Yoast.JsonEncodeAlternative"/>
		<exclude name="Yoast.NamingConventions.ObjectNameDepth.MaxExceeded"/>
		<exclude name="WordPressVIPMinimum"/>

		<!-- Exclude select "modern PHP" sniffs, which conflict with the minimum supported PHP version of this package. -->
		<exclude name="PSR12.Properties.ConstantVisibility"/><!-- PHP 7.1+. -->
		<exclude name="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue"/><!-- PHP 7.1+. -->

		<!-- As this repo is about providing assertions, "mixed" is a perfectly valid type. -->
		<exclude name="SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint"/>
	</rule>

	<!-- While PHPCompatibility is already included in the Yoast ruleset, it uses
		 the PHPCompatibilityWP ruleset, which excludes rules polyfilled by WP.
		 Setting the severity for all PHPCompatibility rules to 5 prevents WP
		 polyfilled functionality from not being flagged in this repo. -->
	<rule ref="PHPCompatibility">
		<severity>5</severity>

		<!-- These PHP 7.0+ classes are polyfilled for this repo. -->
		<exclude name="PHPCompatibility.Classes.NewClasses.errorFound"/>
		<exclude name="PHPCompatibility.Classes.NewClasses.typeerrorFound"/>
	</rule>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration">
		<!-- YoastCS only applies this rule to test files. Overrule it to apply to all files. -->
		<include-pattern>*\.php</include-pattern>
	</rule>


	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<rule ref="Yoast.NamingConventions.NamespaceName">
		<properties>
			<property name="psr4_paths" type="array">
				<element key="Yoast\PHPUnitPolyfills\\" value="src/"/>
				<element key="Yoast\PHPUnitPolyfills\Tests\\" value="tests/"/>
			</property>
		</properties>
	</rule>


	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<!-- The polyfills for the PHP native exceptions can not have a namespace
		 and making those the only files with a file comment would create more,
		 not less inconsistency. -->
	<rule ref="Yoast.Commenting.FileComment">
		<exclude-pattern>/src/Exceptions/*Error\.php$</exclude-pattern>
	</rule>

	<!-- For named parameter support, the parameters in the polyfilled assertions *must*
		 mirror the parameter name as used in PHPUnit itself.
		 These cannot be changed until PHPUnit itself changes the names. -->
	<rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.arrayFound">
		<exclude-pattern>/src/Polyfills/AssertIsList\.php$</exclude-pattern>
	</rule>
	<rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.objectFound">
		<exclude-pattern>/src/Polyfills/AssertObjectProperty\.php$</exclude-pattern>
	</rule>
	<rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.stringFound">
		<exclude-pattern>/src/Polyfills/AssertionRenames\.php$</exclude-pattern>
	</rule>

	<!-- Deliberately empty Catch statements. -->
	<rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedCatch">
		<exclude-pattern>/src/Helpers/ResourceHelper\.php$</exclude-pattern>
	</rule>

	<!-- Targetted error silencing. This is okay. -->
	<rule ref="WordPress.PHP.NoSilencedErrors">
		<exclude-pattern>/src/Helpers/ResourceHelper\.php$</exclude-pattern>
	</rule>

	<!-- The TestCase for PHPUnit 8+ will only ever be loaded on PHP 7.2+. -->
	<!-- The TestListenerDefaultImplementation for PHPUnit 7+ will only ever be loaded on PHP 7.1+. -->
	<rule ref="PHPCompatibility.FunctionDeclarations.NewReturnTypeDeclarations.voidFound">
		<exclude-pattern>/src/TestCases/TestCasePHPUnitGte8\.php$</exclude-pattern>
		<exclude-pattern>/src/TestListeners/TestListenerDefaultImplementationPHPUnitGte7\.php$</exclude-pattern>
	</rule>

	<!-- The TestListenerDefaultImplementation for PHPUnit 7+ will only ever be loaded on PHP 7.1+. -->
	<rule ref="PHPCompatibility.Interfaces.NewInterfaces.throwableFound">
		<exclude-pattern>/src/TestListeners/TestListenerDefaultImplementationPHPUnitGte7\.php$</exclude-pattern>
	</rule>

	<!-- The TestListenerDefaultImplementation for PHPUnit 7+ will only ever be loaded on PHP 7.1+. -->
	<rule ref="PHPCompatibility.FunctionDeclarations.NewParamTypeDeclarations.floatFound">
		<exclude-pattern>/src/TestListeners/TestListenerDefaultImplementationPHPUnitGte7\.php$</exclude-pattern>
	</rule>

	<!-- TEST CODE -->

	<!-- Final classes is irrelevant for test fixtures. -->
	<rule ref="Universal.Classes.RequireFinalClass">
		<exclude-pattern>/tests/*/Fixtures/*\.php$</exclude-pattern>
	</rule>

	<!-- The use of `array` annotations/types is intentional and part of the actual test case. -->
	<rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification">
		<exclude-pattern>/tests/Polyfills/Fixtures/ValueObject*\.php$</exclude-pattern>
	</rule>

	<!-- Make some allowances for test files. -->
	<rule ref="WordPress.PHP.DevelopmentFunctions">
		<exclude-pattern>/tests/*\.php$</exclude-pattern>
	</rule>

	<!-- The use of `static` in the test cases is on purpose to test support. -->
	<rule ref="Universal.CodeAnalysis.StaticInFinalClass">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

	<!-- Covers annotations are in the test classes, not the trait. -->
	<rule ref="Yoast.Commenting.TestsHaveCoversTag.Missing">
		<exclude-pattern>/tests/TestCases/TestCaseTestTrait\.php$</exclude-pattern>
		<exclude-pattern>/tests/Polyfills/Fixtures/*\.php$</exclude-pattern>
	</rule>

	<!-- These fixtures for the assertEqualObject() tests will only be loaded on PHP 7.1+/8+ respectively. -->
	<rule ref="PHPCompatibility.FunctionDeclarations.NewNullableTypes.typeDeclarationFound">
		<exclude-pattern>/tests/Polyfills/Fixtures/ValueObjectParamNotRequired\.php$</exclude-pattern>
	</rule>
	<rule ref="PHPCompatibility.FunctionDeclarations.NewParamTypeDeclarations.UnionTypeFound">
		<exclude-pattern>/tests/Polyfills/Fixtures/ValueObjectUnion\.php$</exclude-pattern>
		<exclude-pattern>/tests/Polyfills/Fixtures/ValueObjectUnionNoReturnType\.php$</exclude-pattern>
	</rule>

</ruleset>
