os: linux
dist: xenial

language: php

## Cache composer and apt downloads.
cache:
  apt: true
  directories:
    # Cache directory for older Composer versions.
    - $HOME/.composer/cache/files
    # Cache directory for more recent Composer versions.
    - $HOME/.cache/composer/files
    # Cache CI tooling cache files.
    - .cache

php:
  - "7.0"
  - "7.1"
  - "7.2"
  - "7.3"
  - "7.4"

# Define the stages used.
stages:
  - name: sniff
  - name: test

jobs:
  fast_finish: true
  include:
    #### SNIFF STAGE ####
    - stage: sniff
      php: "7.4"
      script:
        # Validate the composer.json file.
        # @link https://getcomposer.org/doc/03-cli.md#validate
        - composer validate --no-check-all --strict

        # Check the code style of the code base.
        - composer check-cs

    #### TEST STAGE ####
    - stage: test
      php: "5.6"
      script:
        # Lint PHP files against parse errors.
        - composer lint-lt71

        # Run the unit tests.
        - composer test

    - stage: test
      php: "nightly"
      install:
        # Set up environment using Composer.
        # Not all PHPUnit dependencies have stable releases yet allowing for PHP 8.0.
        - travis_retry composer install --no-interaction --ignore-platform-reqs

  allow_failures:
    # Allow failures for unstable builds.
    - php: "nightly"


before_install:
  # Speed up build time by disabling Xdebug when its not needed.
  - phpenv config-rm xdebug.ini || echo 'No xdebug config.'


install:
  # Set up environment using Composer.
  - travis_retry composer update --no-interaction


script:
  # Lint PHP files against parse errors.
  - composer lint

  # Run the unit tests.
  - composer test
