os: linux
dist: xenial

language: php

## Cache composer and apt downloads.
cache:
  apt: true
  directories:
    # Cache directory for older Composer versions.
    - $HOME/.composer/cache/files
    # Cache directory for more recent Composer versions.
    - $HOME/.cache/composer/files

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  - "nightly"

jobs:
  fast_finish: true
  include:
    - stage: test
      php: 5.5
      dist: trusty

  allow_failures:
    # Allow failures for unstable builds.
    - php: "nightly"


before_install:
  # Speed up build time by disabling Xdebug when its not needed.
  - phpenv config-rm xdebug.ini || echo 'No xdebug config.'


install:
  # Set up environment using Composer.
  - travis_retry composer install --no-interaction


script:
  # Lint PHP files against parse errors.
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:1} != "5" ]]; then
      composer lint
    else
      # Special case for PHP < 7.0.
      composer lint-lt71
    fi

  # Run the unit tests.
  - composer test
